<div class="container">
  <h1 style="padding-top:10px;padding-bottom:10px;">APIs</h1>
  <div style="padding-top:10px;padding-bottom:10px;" class="row">
    <div class="col-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/list']">List Apis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/add']">Add New Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/skill-link']">Link with skills</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div style="padding:10px;" class="card border-primary">
        <h3>Link APIs with Skill</h3>
        <div>
          <div class="form-group">
            <label for="skill-select">Select Skill</label>
            <select [(ngModel)]="skillApiMap.skill_name" class="form-control" id="skill-select">
              <option value="">Select skill</option>
              <option *ngFor="let skill of skills | keys" [value]="skill.value">{{skill.value}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="api-skill-description">Description</label>
            <textarea [(ngModel)]="skillApiMap.description" class="form-control" rows="3" placeholder="Description of the mapping"></textarea>
          </div>
          <div>
            <p>APis
            </p>
            <div class="card"  *ngFor="let attachedApi of attachedApis; let i = index;">
              <div class="card-body clearfix">
                <div class="float-right">
                  <button *ngIf="!attachedApi.editable" (click)="onClickEditApi(i);" class="btn btn-default">Edit</button>
                  <button *ngIf="attachedApi.editable" (click)="onClickRemoveApi(i);" class="btn btn-default">Remove</button>
                  <button *ngIf="attachedApi.editable" (click)="onClickConfirmApi(i);" class="btn btn-primary">Confirm</button>
                </div> 
                <div style="width: 300px;margin-bottom:10px;">
                  <select *ngIf="attachedApi.editable" (change)="onSelectApi($event.target.value, i);" class="form-control">
                    <option value="" >Select Api</option>
                    <option *ngFor="let api of apis | keys" [value]="api.value.api_id" [selected]="attachedApi.api_id == api.value.api_id">{{api.value.api_name}}</option>
                  </select>
                </div>
                <h5 *ngIf="!attachedApi.editable" class="card-title float-left">{{apis[attachedApi.api_id].api_name}}</h5>
                <table *ngIf="apis[attachedApi.api_id]" class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th>Parameter</th>
                      <th>Concept</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parameter of apis[attachedApi.api_id].parameters;">
                      <td>{{parameter.param_name}}</td>
                      <td>
                        <select (change)="onSelectConcept($event.target.value, i, parameter.param_id);" *ngIf="attachedApi.editable" type="text" class="form-control">
                          <option value="">Select Concept</option>
                          <option *ngFor="let concept of concepts | keys" [value]="concept.value" [selected]="concept.value == attachedApi.parameter_concept_map[parameter.param_id].concept" >{{concept.value}}</option>
                        </select>
                        <span *ngIf="!attachedApi.editable">{{attachedApi.parameter_concept_map[parameter.param_id].concept}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="!apis[attachedApi.api_id]" class="font-italic text-center">Select an api to see details</p> 
              </div>
            </div>
            <button style="margin-top:10px;" class="btn btn-default btn-sm" (click)="onClickAttachNewApi();">Add new Api</button>
          </div>
          <div class="form-group clearfix">
            <button [disabled]="submitLoading" class="btn btn-primary float-right" (click)="onClickSubmit();">
              <span *ngIf="!submitLoading">Submit</span>
              <span *ngIf="submitLoading">Submitting ... </span>
            </button>
          </div>
          <ngb-alert *ngIf="err.length != 0" type="danger" [dismissible]="false">
            {{err}}
          </ngb-alert>
          <ngb-alert *ngIf="submitSuccess" type="success" [dismissible]="false">
            Your Skill API mapping was successfully registered.
          </ngb-alert>
        </div>
      </div>
    </div>
  </div>
</div>
