<div style="padding: 30px 100px">
  <mat-card>
    <div style="display:flex; flex-direction: column;">
      <mat-form-field>
        <input matInput [(ngModel)]="api.api_name" placeholder="Api Name">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput [(ngModel)]="api.description" placeholder="Description"></textarea>
      </mat-form-field>
      <div  style="display:flex; flex-direction: row;">
        <mat-form-field style="width:20%">
          <mat-select placeholder="Protocol">
            <mat-option value="https://">
              https://
            </mat-option>
            <mat-option value="http://">
              http://
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:100%">
          <input matInput [(ngModel)]="api.api_endpoint" placeholder="Endpoint">
        </mat-form-field>
      </div>
      <button mat-button>Submit</button>
    </div>
  </mat-card>
</div>

<!-- <div class="container">
  <h1 style="padding-top:10px;padding-bottom:10px;">APIs</h1>
  <div style="padding-top:10px;padding-bottom:10px;" class="row">
    <div class="col-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/list']">List Apis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/add']">Add New Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/skill-link']">Link with skills</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="padding:10px;" class="card border-primary">
        <h3>Add new API</h3>
        <div class="form-group">
          <label for="api-name">Name</label>
          <input api.api_nam" type="text" class="form-control" id="api-name" placeholder="Sample API name">
        </div>
        <div class="form-group">
          <label for="api-description">Description</label>
          <textarea api.descriptio" class="form-control" id="api-description" placeholder="What does the API do?"
            rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="api-endpoint">Endpoint</label>
          <div class="input-group mb-3">
            <div ngbDropdown class="input-group-prepend">
              <button ngbDropdownToggle class="btn btn-outline-secondary dropdown-toggle text-lowercase">{{httpProtocol}}</button>
              <div ngbDropdownMenu class="dropdown-menu">
                <a style="cursor: pointer;" class="dropdown-item text-lowercase" (click)="httpProtocol='https://'">https://</a>
                <a style="cursor: pointer;" class="dropdown-item text-lowercase" (click)="httpProtocol='http://'">http://</a>
              </div>
            </div>
            <input api.api_endpoin" type="text" class="form-control" id="api-endpoint" placeholder="example.com/api-name/">
          </div>
        </div>
        <div>
          <p>Parameters</p>
          <table class="table table-hover" *ngIf="api.parameters.length != 0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Default Value</th>
                <th>Sample value</th>
                <th>Optional</th>
                <th></th>
              </tr>
              <tr *ngFor="let param of api.parameters; trackBy: index; let i = index;">
                <td>
                  <input *ngIf="param.$editMode" [(ngModel)]="param.param_name" class="form-control form-control-sm" type="text" placeholder="example_param"
                  />
                  <span *ngIf="!param.$editMode">{{param.param_name}}</span>
                </td>
                <td>
                  <textarea *ngIf="param.$editMode" [(ngModel)]="param.description" class="form-control form-control-sm" type="text" rows="1"
                    style="resize:vertical;" placeholder="example_param description"></textarea>
                  <span *ngIf="!param.$editMode">{{param.description}}</span>
                </td>
                <td>
                  <input *ngIf="param.$editMode" [(ngModel)]="param.default_value" class="form-control form-control-sm" type="text" placeholder="default_value"
                  />
                  <span *ngIf="!param.$editMode">{{param.default_value}}</span>
                </td>
                <td>
                  <input *ngIf="param.$editMode" [(ngModel)]="param.sample_value" class="form-control form-control-sm" type="text" placeholder="sample_value"
                  />
                  <span *ngIf="!param.$editMode">{{param.sample_value}}</span>
                </td>
                <td class="text-center">
                  <input *ngIf="param.$editMode" [(ngModel)]="param.optional" type="checkbox" class="form-check-input" />
                  <span *ngIf="!param.$editMode && param.optional" class="font-italic">true</span>
                  <span *ngIf="!param.$editMode && !param.optional" class="font-italic">false</span>
                </td>
                <td class="text-center">
                  <div *ngIf="param.$editMode" style="min-width: 120px;">
                    <button class="btn btn-default btn-sm" (click)="onClickResetParamRow(i)">Delete</button>
                    <button class="btn btn-primary btn-sm" (click)="onClickConfirmParamRow(i)">Confirm</button>
                  </div>
                  <div *ngIf="!param.$editMode" style="min-width: 60px;">
                    <button class="btn btn-primary btn-sm" (click)="onClickEditParamRow(i)">Edit</button>
                  </div>
                </td>
              </tr>
            </thead>
          </table>
          <div class="text-center" *ngIf="api.parameters.length == 0">
            <span class="font-italic">No params defined. Add new paramaters.</span>
          </div>
          <div>
            <button class="btn btn-default" (click)="onClickAddNewParams()">Add new parameter</button>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="submitLoading" class="btn btn-primary float-right" (click)="onClickSubmit()">
            <span *ngIf="!submitLoading">Submit</span>
            <span *ngIf="submitLoading">Submitting ... </span>
          </button>
        </div>
        <ngb-alert *ngIf="err.length != 0" type="danger" [dismissible]="false">
          {{err}}
        </ngb-alert>
        <ngb-alert *ngIf="submitSuccess" type="success" [dismissible]="false">
          Your API was successfully registered.
          <a [routerLink]="['/apis/list']">Click here</a> to visit the list of APIs.
        </ngb-alert>
      </div>
    </div>
  </div>
</div> -->
