<div style="padding:30px 100px; ">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let api of apis; let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{api.api_name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h4 matLine>API name: </h4>
          <p matLine>{{api.api_name}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h4 matLine>Description: </h4>
          <p matLine>{{api.description}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h4 matLine>Endpoint: </h4>
          <p matLine>{{api.api_endpoint}}</p>
        </mat-list-item>
        <mat-list-item role="listitem">
          <h4 matLine>Parameters: </h4>
        </mat-list-item>
      </mat-list>
      <div class="example-container">
          <mat-table #table [dataSource]="params[i]">
            <ng-container matColumnDef="param_name">
              <mat-header-cell *matHeaderCellDef> Param Name </mat-header-cell>
              <mat-cell *matCellDef="let parameter"> {{parameter.param_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let parameter"> {{parameter.description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sample_value">
              <mat-header-cell *matHeaderCellDef> Sample Value </mat-header-cell>
              <mat-cell *matCellDef="let parameter"> {{parameter.sample_value}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="default_value">
              <mat-header-cell *matHeaderCellDef> Default Value </mat-header-cell>
              <mat-cell *matCellDef="let parameter"> {{parameter.default_value}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="is_optional">
              <mat-header-cell *matHeaderCellDef> Optional </mat-header-cell>
              <mat-cell *matCellDef="let parameter"> {{parameter.is_optional}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="paramColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: paramColumns;"></mat-row>
          </mat-table>
        </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <div class="container">
  <h1 style="padding-top:10px;padding-bottom:10px;">APIs</h1>
  <div style="padding-top:10px;padding-bottom:10px;" class="row">
    <div class="col-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/list']">List Apis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/add']">Add New Api</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/apis/skill-link']">Link with skills</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="padding:10px;" class="card border-primary">
        <h3>API list</h3>
        <div>
          <p *ngIf="apis.length == 0" class="font-italic text-center">Loading ...</p>
          <ngb-accordion *ngIf="apis.length > 0" [closeOthers]="true" [activeIds]="apis[0].api_name">
            <ngb-panel *ngFor="let api of apis" [id]="api.api_name" [title]="api.api_name">
              <ng-template ngbPanelContent>
                  <p><span class="font-weight-bold">API name </span><br />{{api.api_name}}</p>
                  <p><span class="font-weight-bold">Description </span><br />{{api.description}}</p>
                  <p><span class="font-weight-bold">Endpoint </span><br />{{api.api_endpoint}}</p>
                  <p><span class="font-weight-bold">Parameters </span></p>
                  <table class="table table-hover table-sm table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Sample Value</th>
                        <th>Default Value</th>
                        <th>Optional</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let parameter of api.parameters">
                        <td>{{parameter.param_name}}</td>
                        <td>{{parameter.description}}</td>
                        <td>{{parameter.sample_value}}</td>
                        <td>{{parameter.default_value}}</td>
                        <td><span class="font-italic">{{parameter.is_optional}}</span></td>
                      </tr>
                    </tbody>
                  </table>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div> -->
