<mat-toolbar color="primary">
    <span>studio.rozie.ai</span>
    <button mat-button>Skills</button>
    <button mat-button>Apis</button>
    <button mat-button>Concepts</button>
    <button mat-button>Missed Predictions</button>
</mat-toolbar>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">studio.rozie.ai</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Skills</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link">Apis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Concepts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Missed Predictions</a>
            </li>
        </ul>
    </div>
</nav> -->
<router-outlet></router-outlet>